# -*- coding: utf-8 -*-
# vim: ft=jinja
# This file handles the merging of pillar data with the data from defaults

{## Start with  defaults from defaults.yml ##}
{% import_yaml 'openscap/defaults.yml' as default_settings %}

{## 
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'Suse': {},
        'Arch': {},
        'RedHat': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('openscap:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.openscap.update(os_family_map) %}

{## Merge in template:lookup pillar ##}
{% set openscap = salt['pillar.get'](
        'openscap',
        default=default_settings.openscap,
        merge=True
    )
%}
